
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-color);
  background-size: cover;
  color: var(--app-black);
}

.body-light-theme {
  background-image: url('./assets/bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}


main {
  max-width: 800px;
  margin: 30px auto;
  padding: 30px;
  background-color: var(--app-white);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin: 20px auto;
  font-weight: bold;
}

input,
select {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--app-black);
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: var(--border-color);
  color: var(--app-black);
}

button {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-color);
}

h1 {
  margin: 0;
  padding-top: 30px;
  font-size: 36px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h3 {
  margin-top: 0;
  font-size: 24px;
  margin-bottom: 10px;
  color: #f2f2f2;
}

p {
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
  color: #f2f2f2;
}

.all-recipe-results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}
